---
title: Projects
---
<h1>Projects</h1>
<p>
Some of my recent personal projects.
</p>
{% markdown %}

## Imp
*2021-2022*
A custom programming language implemented to explore the field. I've written about it [here](/tags/imp/). This is the most complicated programming side project I've created to date.

[Github](https://github.com/imp-language/imp)

## Neanderthal
*2020*
Neanderthal transpiles structured Markdown and Nunjucks content to a static blog, with support for custom pages, tagged posts, and authors. You can write posts in Markdown with front matter metadata, then customize the Nunjucks templates as needed. I designed and implemented this project from scratch to host this site, then published the package for anyone to use.

[Github](https://github.com/mh15/neanderthal) - [npm](https://www.npmjs.com/package/neanderthal)


## CSE 3541 Final Project - Procedurally-generated Dungeon Crawler
*2020*
My submission for the final project contest for Ohio State's Computer Graphics Techniques course offered by the Department of Computer Science and Engineering in Spring 2020. This was the winning submission for the semester.

[Github](https://github.com/mh15/CSE3541-final-project) - [Vimeo](https://vimeo.com/450579193)

{% endmarkdown %}