:root {
    --side-padding: 2vw;
    --footer-height: 3rem;
    font-family: "Source Serif Pro", sans-serif;
}

li {
    padding-bottom: 5px;
}

@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

img {
    width: 100%;
}

pre {
    width: 100%;
    overflow-x: auto;
}

section#page-container {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    /* padding-left: 1vw;
    padding-right: 1vw; */
}

#content-wrap {
    padding-bottom: var(--footer-height);
    /* Footer height */
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    /* Footer height */
}

footer {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    /* padding-bottom: 1rem; */
}

.row {
    display: flex;
    width: 100%;
}

.split {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    /* height: 3vw; */
    padding-top: 2vw;
    padding-bottom: 2vw;
}

header #logo {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.center {
    margin: 0 auto;
}

h1 {
    margin-top: 0;
    /* margin-bottom: 6px; */
}
h2 {
    margin-bottom: 0;
}

p {
    margin-top: 6px;
}

.header-anchor {
    margin-left: -20px;
    opacity: 0;
}

:is(h1, h2, h3, h4, h5, h6):hover a.header-anchor {
    opacity: 1;
}
