section {
    margin: 0 auto;
    max-width: 700px;
}

.row {
    display: flex;
    width: 100%;
}

.split {
    flex: 1;

    
}

header {
    display: flex;
    justify-content: space-between;
    height: 3vw;
    padding-top: 1vw;
}

header #logo {
    font-weight: bold;
}
