* {
    box-sizing: border-box;
}

/* Define the "system" font family */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"),
        local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root {
    --side-padding: 2vw;
    --footer-height: 3rem;
    /* font-family: "Source Serif Pro", sans-serif; */
    /* font-family: system; */
    font-family: "Iowan Old Style", "Apple Garamond", "Baskerville", "Droid Serif", "Source Serif Pro", serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
    padding-bottom: 5px;
}

@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

img {
    width: 100%;
}

pre {
    width: 100%;
    overflow-x: auto;
}

section#page-container {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    /* padding-left: 1vw;
    padding-right: 1vw; */
}

#content-wrap {
    padding-bottom: var(--footer-height);
    /* Footer height */
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    /* Footer height */
}

footer {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    /* padding-bottom: 1rem; */
}

.row {
    display: flex;
    width: 100%;
}

.split {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    /* height: 3vw; */
    padding-top: 2vw;
    padding-bottom: 2vw;
}

header #logo {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.center {
    margin: 0 auto;
}

h1 {
    margin-top: 0;
    /* margin-bottom: 6px; */
}
h2 {
    margin-bottom: 0;
}

p {
    margin-top: 6px;
    line-height: 1.2;
}

.header-anchor {
    margin-left: -20px;
    opacity: 0;
}

:is(h1, h2, h3, h4, h5, h6):hover a.header-anchor {
    opacity: 1;
}

.post-meta {
    opacity: 0.9;
    background-color: rgb(225, 225, 225);
    padding-top: 4px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;

    margin-right: 7px;
    border-left: #b7b7b7 5px solid;
    /* font-style: italic; */
}

a {
    color: rgb(0, 0, 126);
}

a:visited {
    color: rgb(0, 0, 95);
}