---
title: Stuff I Like
---

{% markdown %}

# Stuff I Like


## Tools

- M1 Macbook Air, the greatest laptop ever created.

## Writers

- Patrick McKenzie for career and fintech talk, found at [kalzumes.com](https://www.kalzumeus.com/) and [bitsaboutmoney.com](https://www.bitsaboutmoney.com/)
- Dan Luu's takes on the computing industry [danluu.com](https://danluu.com/)






{% endmarkdown %}