---
title: Stuff I Like
---

{% markdown %}

# Stuff I Like


## Tools

- M1 Macbook Air, the greatest laptop ever created.
- Lenovo ThinkVision T32p-20. I've got this set up to run all periphials through the integrated USB-C hub, letting me switch between machines by changing one cable.

## Writers

- Patrick McKenzie for career and fintech talk, found at [kalzumes.com](https://www.kalzumeus.com/) and [bitsaboutmoney.com](https://www.bitsaboutmoney.com/)
- Dan Luu's takes on the computing industry [danluu.com](https://danluu.com/)






{% endmarkdown %}