<h1>Work</h1>
<p>
    I have recently completed a Software Engineering Internship at <a href="https://blubrry.com/">Blubrry Podcasting</a>. I
    am seeking coop or internship opportunities in Computer
    Graphics or Software Engineering for the 2021 Spring/Summer.</p>

<h2>Work Detail</h2>

<h2>Skills</h2>

<p>
    If you just need the buzzwords look below.
</p>
<ul>
    <li>The modern web, including</li>
    <ul>
        <li>ES6 JavaScript and Typescript</li>
        <li>React and Vue</li>
        <li>Backend stacks in NodeJS and PHP</li>
        <li>MySQL</li>
    </ul>
    <li>The stuff they teach us in school</li>
    <ul>
        <li>Java</li>
        <li>Matlab</li>
    </ul>
    <li>Game Engines</li>
    <ul>
        <li>Unity</li>
        <li>Godot</li>
    </ul>
    <li>Visual Design Software</li>
    <ul>
        <li>Autodesk Maya for 3D animation</li>
        <li>Blender for 3D animation and environment art</li>
        <li>Adobe Photoshop for graphic design and texturing</li>
        <li>Adobe Photoshop Lightroom for editing photos</li>
        <li>Substance Painter for 3D texturing</li>
    </ul>

</ul>