---
title: About
---
<h1>About</h1>

<p>
    I'm a Computer Science undergraduate specializing in Computer Graphics at <a href="https://www.osu.edu/">Ohio
        State</a> in Columbus, OH. I research Computer Graphics and Augmented Reality at our <a
        href="https://accad.osu.edu/">Advanced Computing Center for the Arts and Design</a>. I'm currently employed as a
    Software Engineering Intern at <a href="https://blubrry.com/">Blubrry Podcasting</a>.
</p>

<p>
    I am actively looking for coop or internship opportunities in Computer
    Graphics for the 2021 Spring/Summer. View my <a href="/work">work</a> or
    download a copy of my <a href="/public/downloads/resume.pdf">resume</a>.
</p>

<h2>Interests</h2>
<p>
    I'm interested primarily in the intersection of visual arts and technology,
    and the experiences such a combination can
    create.
    I enjoy climbing, biking, cooking, and running. I am an avid photographer.
</p>

<h2>Find me online</h2>
<ul>
    <li>I am <a href="https://github.com/mh15">mh15</a> on <a href="https://github.com">GitHub</a>
    </li>
    <li>I am <a href="https://www.linkedin.com/in/matt-hall-osu/">matt-hall-osu</a> on <a
            href="https://github.com">LinkedIn</a>
    </li>
    <li>I am <a href="https://twitter.com/matthallosu">matthallosu</a> on <a href="https://twitter.com">Twitter</a>
    </li>
    <li>I am <a href="https://instagram.com/matthallosu">matthallosu</a> on <a
            href="https://instagram.com">Instagram</a>
    </li>
</ul>

<h2>The Site</h2>
<p>
    This site is written in Markdown and Nunjucks and built to static hypertext by <a
        href="https://github.com/mh15/neanderthal">Neanderthal</a>,
    a static site generator. Currently I am hosting this site on <a href="https://vercel.com/">Vercel</a>. The site is
    deployed to Vercel automatically as I push to GitHub.
</p>