{% extends "templates/base.njk" %}

{% block body %}
  <p>{{ meta.description }}</p>

  <div class="row">
    <div class="split">
      <h1>Read my posts</h1>
      <p>or view the <a href="/blog">blog archive</a>
      </p>
      {# <ul>
        <li>
          <a href="/blog/loops">All the Loops</a>
        </li>
      </ul> #}
      {% markdown %}
      - [Creating an Entity-Component-System in C#](/blog/ecs) - a reference of the iterator primitives in modern JavaScript
      - [All the Loops](/blog/loops) - a reference of the iterator primitives in modern JavaScript
      {% endmarkdown %}
    </div>

    <div class="split">
      <h1>View my work</h1>
      <p>links to projects here and elsewhere</p>
      {% markdown %}
      - [Neanderthal](https://github.com/mh15/neanderthal) - a static hypertext generator for your blog or website
      - [Dungeon Crawler](https://github.com/mh15/CSE3541-final-project) - my winning submission for the Computer Graphics techniques class at OSU
      {% endmarkdown %}
    </div>

  </div>

{% endblock %}