{% extends "templates/base.njk" %}

{% block body %}
  <p>This is the (outdated) homepage of Matt Hall, a Software Engineer.<br/>You can find me in the San Francisco Bay Area, building <a href="https://akkio.com">Akkio</a>.</p>

  <p>
      Before that, I worked at Google on the <a href="https://support.google.com">Google Support</a> editor.
  </p>

  <p>
    Here's a copy of my <a href="/public/downloads/Matt Hall Resume (11_20_24).pdf">resume</a>.
</p>


{% endblock %}