{# All pages on your site should inherit from this base template #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ title }} | {{ meta.title }}</title>
    <meta name="description" content="todo">
    <meta name="author" content="todo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="neanderthal-version" content="{{ version }}">

    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/fonts/source-serif-pro/source-serif-pro.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <link rel="prerender" href="https://matthall.codes/blog/imp-03-modules/">

  </head>

  <body>
    <section id="page-container">
      <div id="content-wrap">
        {% include "templates/header.njk" %}
        {% block body %}
          Default content
        {% endblock %}
      </div>
      <div id="footer">
        {% include "templates/footer.njk" %}
      </div>
    </section>
    <script data-goatcounter="https://mh15.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>