<footer>
    <hr>
    <div class="row center-text">
        {# {{ meta.description }} #}
        <a href="/" class="center">matthall.codes</a>
    </div>
    <div class="row">
        <div class="split"></div>
    </div>
</footer>